html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", Sans-serif;
  text-transform: uppercase;
}

:root {
  --blue: #235ec3;
  --white: #ffffff;
  --gray: #686868;
  --cyan: #e1e9f6;
}
